.resize-handle {
	position: absolute;
	z-index: 10;
}

.resize-n {
	top: -3px;
	left: 10px;
	right: 10px;
	height: 6px;
	cursor: n-resize;
}

.resize-s {
	bottom: -3px;
	left: 10px;
	right: 10px;
	height: 6px;
	cursor: s-resize;
}

.resize-e {
	right: -3px;
	top: 10px;
	bottom: 10px;
	width: 6px;
	cursor: e-resize;
}

.resize-w {
	left: -3px;
	top: 10px;
	bottom: 10px;
	width: 6px;
	cursor: w-resize;
}

.resize-ne {
	top: -3px;
	right: -3px;
	width: 12px;
	height: 12px;
	cursor: ne-resize;
}

.resize-nw {
	top: -3px;
	left: -3px;
	width: 12px;
	height: 12px;
	cursor: nw-resize;
}

.resize-se {
	bottom: -3px;
	right: -3px;
	width: 12px;
	height: 12px;
	cursor: se-resize;
}

.resize-sw {
	bottom: -3px;
	left: -3px;
	width: 12px;
	height: 12px;
	cursor: sw-resize;
}
