@import "tailwindcss";

@import "./style/variables.css";
@import "./style/utilities.css";
@import "./style/base.css";
@import "./style/animations.css";
@import "./style/terminal.css";
@import "./style/resize.css";
@import "./style/component.css";
